<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container">

    <header th:replace="~{fragments :: header}"></header>

    <form method="post">
        <div class="form-group">
            <label th:text="${title}">
                <input type="text" th:field="${name}" class="form-control"/>
                <input type="submit" value="Submit">
            </label>
            <p class="error" th:errors="${eventCategory.name}"></p>
        </div>
    </form>

</body>
</html>